projeto-lock-final/codigo-nodered.json
[{"id":"2c1807fb.f19bd8","type":"telegram receiver","z":"4de29cba.234a14","name":"Recebe Msg telegram","bot":"81d3c776.06f8d8","saveDataDir":"","x":140,"y":140,"wires":[["b373c5f5.b0f868","373889eb.acbe96"],["b373c5f5.b0f868"]]},{"id":"b373c5f5.b0f868","type":"switch","z":"4de29cba.234a14","name":"Verifica Comando","property":"payload.content","propertyType":"msg","rules":[{"t":"eq","v":"Abrir","vt":"str"},{"t":"eq","v":"Fechar","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":370,"y":140,"wires":[["6b3dec6.d8f1614"],["481e923c.9e4cfc"]]},{"id":"373889eb.acbe96","type":"debug","z":"4de29cba.234a14","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":340,"y":80,"wires":[]},{"id":"27525cc0.819694","type":"mqtt out","z":"4de29cba.234a14","name":"","topic":"lock/open","qos":"","retain":"","broker":"2ad39f22.f9601","x":760,"y":140,"wires":[]},{"id":"eca95a0d.c99ea8","type":"mqtt in","z":"4de29cba.234a14","name":"","topic":"lock/open","qos":"2","broker":"2ad39f22.f9601","x":270,"y":240,"wires":[["cd79c9e6.73ca08"]]},{"id":"cd79c9e6.73ca08","type":"debug","z":"4de29cba.234a14","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":500,"y":260,"wires":[]},{"id":"6b3dec6.d8f1614","type":"function","z":"4de29cba.234a14","name":"Enviar Abrir","func":"msg.payload = \"1\";\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":100,"wires":[["27525cc0.819694"]]},{"id":"481e923c.9e4cfc","type":"function","z":"4de29cba.234a14","name":"Enviar Fechar","func":"msg.payload = \"0\";\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":160,"wires":[["27525cc0.819694"]]},{"id":"81d3c776.06f8d8","type":"telegram bot","z":"","botname":"poderosoChefabot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"verboselogging":false},{"id":"2ad39f22.f9601","type":"mqtt-broker","z":"","name":"Mostquitto ","broker":"broker.mqtt-dashboard.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""}]