projeto-pir-sensor/node-red.json
[{"id":"2c1807fb.f19bd8","type":"telegram receiver","z":"4de29cba.234a14","name":"Recebe Msg telegram","bot":"81d3c776.06f8d8","saveDataDir":"","x":120,"y":100,"wires":[["b373c5f5.b0f868"],["b373c5f5.b0f868"]]},{"id":"b373c5f5.b0f868","type":"switch","z":"4de29cba.234a14","name":"Verifica Comando","property":"payload.content","propertyType":"msg","rules":[{"t":"eq","v":"Ligar","vt":"str"},{"t":"eq","v":"Desligar","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":330,"y":100,"wires":[["d3b8840c.40dbe8"],["6a34abf9.cc5404"]]},{"id":"b3324ce8.ea612","type":"telegram sender","z":"4de29cba.234a14","name":"","bot":"81d3c776.06f8d8","x":450,"y":280,"wires":[["f4f6ebe1.d53348"]]},{"id":"d3b8840c.40dbe8","type":"function","z":"4de29cba.234a14","name":"Ligar","func":"\nflow.set('ligado', true);\n\nmsg.payload = {\n    chatId : '480458817',\n    type : 'message',\n    content : \"Sensor ligado \"\n}\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":60,"wires":[["de1c8217.1eeca"]]},{"id":"6a34abf9.cc5404","type":"function","z":"4de29cba.234a14","name":"Desligar","func":"\nflow.set('ligado', false);\n\nmsg.payload = {\n    chatId : '480458817',\n    type : 'message',\n    content : \"Sensor desligado \"\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":120,"wires":[["de1c8217.1eeca","b3324ce8.ea612"]]},{"id":"9c4c3a8b.745a98","type":"mqtt in","z":"4de29cba.234a14","name":"Recebe Msg Broker","topic":"pirsensor/pirsensor","qos":"2","broker":"2ad39f22.f9601","x":130,"y":200,"wires":[["30f8b250.6cae7e"]]},{"id":"30f8b250.6cae7e","type":"function","z":"4de29cba.234a14","name":"Monta mensagem telegram","func":"if(flow.get(\"ligado\") === true){    \n    \n    var agora = new Date();\n    agora = `${agora.getHours()}:${agora.getMinutes()}:${agora.getSeconds()}`;\n    \n    if(msg.payload === \"1\"){\n        msg.payload = {\n            chatId : '480458817',\n            type : 'message',\n            content : \"movimento detectado - \" + agora\n        }\n    }else{\n        msg.payload = {\n            chatId : '480458817',\n            type : 'message',\n            content : \"Nenhum movimento detectado - \" + agora\n        }\n    }\n    \n    return msg;\n}\nreturn false;","outputs":1,"noerr":0,"x":200,"y":280,"wires":[["b3324ce8.ea612"]]},{"id":"f4f6ebe1.d53348","type":"debug","z":"4de29cba.234a14","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":650,"y":280,"wires":[]},{"id":"de1c8217.1eeca","type":"debug","z":"4de29cba.234a14","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":650,"y":80,"wires":[]},{"id":"81d3c776.06f8d8","type":"telegram bot","z":"","botname":"Notify","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"verboselogging":false},{"id":"2ad39f22.f9601","type":"mqtt-broker","z":"","name":"Mostquitto ","broker":"broker.mqtt-dashboard.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""}]